<footer>
    <p>I DO NOT OWN THESE GAME PLS DONT COPYRIGHT ME I AM JUST A CHILD</p>
    <p>*May Not Work At all schools</p>
    <p>I own none of these games this is so students can play stuff unblocked at school :)</p>
    <a href="other/changelog/">Changelog</a>
</footer>
